@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

.gallery{
	position: relative;
	background-color: #f8f8fa;
}

.title{	
	font-family: 'Londrina Solid', cursive;
	font-size: 37px;
	color: #f7682c;
	text-align: center;
}

.ro{
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 6px;
	padding: 12px;
}


/* button{
	margin: auto;
	width: 55px;
	height: 55px;
	text-align: center;
	background: white;
	border-radius: 50%;
	box-shadow: 6px 6px 7px rgba(39,49,67,.12);
} */

span{
	color: #f7682c;
}

