.header-container ul{
	list-style-type: none;
}
@media {.header-container a{
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
	white-space: nowrap;
	text-decoration: none;
	background-color: transparent;
	box-sizing: border-box;

}
}
.dropdown-menu {
	text-decoration: none;
	float: right;
	padding: 12px 16px;	
}

.classes_menu {
	min-width: 600px;
}

.news {
	width:100%;
	padding: 50px 0;
}
.color{
	color: #f26f29;
}
.iner{
	padding-right: 375px;
	padding-left: 375px;
}
.title-block-news{
	text-align: center;
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 60px;	
}
.icon-title{

	color:#6fb3cf;

}
.photo-decribe{
	margin-top:15px;
}
.st{
	padding-left: 5px;
}
.photo img{
	border-radius: 5px;
	box-shadow: 10px 9px 17px 0px #d9dbdd;
}
