@import './colors.scss';
@import './mixins.scss';

.bp-btn {
  padding: 14px 38px;
  border-width: 2px;
  border-style: solid;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  font-weight: 500;
}

.bp-btn-xl {
  padding: 25px 70px;
  font-size: 24px;
  line-height: 24px;
}

.bp-btn-lg {
  padding: 19px 65px;
  font-size: 18px;
  line-height: 20px;
}

.bp-btn-sm {
  padding: 13px 22px;
  font-size: 14px;
  line-height: 16px;
}

.bp-btn-round {
  border-radius: 8px;
}

.bp-btn-square {
  border-radius: 0;
}

.bp-btn-circle {
  border-radius: 30px;
}

.bp-btn-primary-outline:hover,
.bp-btn-secondary-outline:hover {
  @include btn-theme;
}

.bp-btn-primary-outline {
  @include btn-theme($black, transparent, $orange-primary);
}

.bp-btn-secondary-outline {
  color: $orange-primary;
  background-color: transparent;
  border-color: $border-grey;
}

.bp-btn-primary {
  @include btn-theme;

  &:hover {
    @include btn-theme($orange-primary, transparent, $orange-primary);
  }
}
