@import './buttons.scss';
@import './colors.scss';
@import './text.scss';
@import './bootstrap-overrides.scss';

body {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.display-flex {
  display: flex;
}

.navbar .navbar-nav li.active .nav-link {
  color: $orange-primary;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.bp-container {
  max-width: 1200px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  font-size: 18px;
  color: #151515;

  .zmdi {
    color: $orange-primary;
    font-size: 24px;
    padding: 0 10px;
  }

 } 

#mainNavbar {
  padding: 20px;
  text-transform: uppercase;
}
.wrapper {
  background: black;
}
.conteiner{
width: 1000px;
  display: flex;
  
}
.first-row {
 
 flex-direction: column;
 width: 50%;
   
   .tp-text-info{
    font-size: 30px;
    color: $white;
   }
    i p {
    color: $white;
   
}
}
.second-row{


}


