/**
 * Typography
 */
$font-family-sans-serif: 		Roboto, Helvetica, Arial, sans-serif;
$font-family-cursive: 			'Baloo', cursive;

/**
 * Colors
 */
$color-white: 				#fff;
$color-black: 				#151515;
$color-orange-primary: 			#ff8820;
$color-border-grey: 			#ddd;
