body{
	margin: 0;
	}


.banner{
		height: 450px;
		
}

.bg{
	
    background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: center;
}

a{
	display: inline-block;
	color: white;
	text-decoration: none;
}

.content-row{
	padding: 5% 0;
	height: 100%;
	box-sizing: border-box;
}

.white-text{
	color: white;
}

button{
	width: 94px;
	height: 94px;
	border:none;
}

.avatar{
	height: 340px;
}


.clear-box{
	opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 94px;
}

section.info-box{
	padding: 100px 0;
}

.article-text h3{
	margin-top: 0;
}